<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% include "barra.html" %}
    <h1>
      La persona se llama: {{nombre_persona | upper}} {{ apellido_persona }}
    </h1>
    <p>
      La fecha actual es
      {{fecha_actual.day}}/{{fecha_actual.month}}/{{fecha_actual.year}}
    </p>
    <p>La lista de los temas es:</p>
    <ul>
      {% if temas %} {% for tema in temas %}
      <li>{{ tema }}</li>
      {% endfor %} {% else %}
      <li>No hay temas</li>
      {% endif %}
    </ul>
  </body>
</html>
